body {
  background-color: #776356;
  color: #e4d4c8; 
  font-family: veranda;
  font-size: 20px;
  line-height: 1.5;
  
  color: #1d1e2c;
}
header,main,footer {
  width: 36em; 
  margin:0 auto;
}

p, h3 {
  background-color: #e4d4c8;
  border: 1px solid #e4d4c8;
  padding: 10px;
  margin: 20px;
   }


h1,h2,h3 {
    font-family: FF Tisa;
    width: 15em;
}

hr, h2 {
     clear: both; }

